[submodule "joint-control-pkgs"]
	path = joint-control-pkgs
	url = https://github.com/JenniferBuehler/joint-control-pkgs.git
[submodule "graspit-pkgs"]
	path = graspit-pkgs
	url = https://github.com/JenniferBuehler/graspit-pkgs
[submodule "moveit-pkgs"]
	path = moveit-pkgs
	url = https://github.com/JenniferBuehler/moveit-pkgs
[submodule "grasp-execution-pkgs"]
	path = grasp-execution-pkgs
	url = https://github.com/RRameshwar/grasp-execution-pkgs
[submodule "gazebo-pkgs"]
	path = gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs
[submodule "jaco-arm-pkgs"]
	path = jaco-arm-pkgs
	url = https://github.com/RRameshwar/jaco-arm-pkgs
[submodule "src/convenience-pkgs"]
	path = src/convenience-pkgs
	url = https://github.com/JenniferBuehler/convenience-pkgs
[submodule "src/jaco-arm-pkgs"]
	path = src/jaco-arm-pkgs
	url = https://github.com/RRameshwar/jaco-arm-pkgs
[submodule "src/joint-control-pkgs"]
	path = src/joint-control-pkgs
	url = https://github.com/JenniferBuehler/joint-control-pkgs
[submodule "src/general-message-pkgs"]
	path = src/general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs
[submodule "src/gazebo-pkgs"]
	path = src/gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs
[submodule "src/grasp-execution-pkgs"]
	path = src/grasp-execution-pkgs
	url = https://github.com/JenniferBuehler/grasp-execution-pkgs
[submodule "src/moveit-pkgs"]
	path = src/moveit-pkgs
	url = https://github.com/JenniferBuehler/moveit-pkgs
[submodule "src/graspit-pkgs"]
	path = src/graspit-pkgs
	url = https://github.com/JenniferBuehler/graspit-pkgs
[submodule "src/graspit"]
	path = src/graspit
	url = https://github.com/graspit-simulator/graspit.git
[submodule "src/urdf-tools-pkgs"]
	path = src/urdf-tools-pkgs
	url = https://github.com/JenniferBuehler/urdf-tools-pkgs.git
[submodule "src/teleop_twist_keyboard"]
	path = src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard.git
[submodule "src/orocos_kinematics_dynamics"]
	path = src/orocos_kinematics_dynamics
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
